# Compiled JavaScript files
/lib
/node_modules

# Logs
firebase-debug.log*
firebase-debug.*.log*

# Environment variables
.env
.env*.local

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
